*.exp
*.ipch
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.suo
*.swp
*.user
*.log
_ReSharper*
*.userprefs
*.exe
*.dll

.vs
media/
bin/
obj/
packages/
deploy/
Assembly-CSharp*
Library/
Temp/
UserSettings/
ProjectSettings/
src/GameDevWare.TextTransform.Unity.*/Assets/StreamingAssets
src/GameDevWare.TextTransform.Unity.*/Assets/Resources/
src/GameDevWare.TextTransform.Unity.*/Assets/Bundles/
src/GameDevWare.TextTransform.Unity.*/Assets/AssetStoreTools/
