*.exp
*.ipch
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.suo
*.swp
*.user
*.log
_ReSharper*
*.userprefs
*.exe
*.dll

.idea
.vs
media/
bin/
obj/
deploy/
Assembly-CSharp*
Library/
Temp/
UserSettings/
ProjectSettings/
src/GameDevWare.TextTransform.Unity*/Assets/StreamingAssets
src/GameDevWare.TextTransform.Unity*/Assets/Bundles/
com.unity.asset-store-tools