<#@ template debug="false" hostspecific="true" language="C#v3.5" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Linq" #>
<#@ output extension=".json" #>
{
	"files":
	[
<#
		var files = Directory.GetFiles(this.Host.ResolvePath("./"));
		foreach(var file in files)
		{
#>
		"<#= Path.GetFileName(file) #>"<#= files.Last() != file ? "," : "" #>
<#
		}
#>
	]
}
