<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConsoleApp.CommandLine" version="1.0.1" targetFramework="net35" developmentDependency="true" />
  <package id="ILRepack" version="2.0.10" targetFramework="net35" developmentDependency="true" />
  <package id="TypeConvert" version="1.0.0.7" targetFramework="net35" developmentDependency="true" />
</packages>